<header>
    <h1>
        {{ project }}
    </h1>

    <p>
        {{ version }}
    </p>
</header>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button back-button>
            <mat-icon>
                arrow_back
            </mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-list *ngIf="document.routes.length > 0">
    <mat-list-item *ngFor="let route of document.routes | orderBy : 'title'" matRipple [routerLink]="route.routeId">
        {{ route.title }}
    </mat-list-item>
</mat-list>