<div class="porjects-header">
    <mat-toolbar>
        <mat-toolbar-row>
            <button mat-button (click)="go('https://bitid.co.za')">
                home
            </button>

            <div spacer></div>

            <button mat-icon-button (click)="go('https://www.facebook.com')">
                <mat-icon svgIcon="facebook"></mat-icon>
            </button>

            <button mat-icon-button (click)="go('https://www.github.com')">
                <mat-icon svgIcon="github"></mat-icon>
            </button>

            <button mat-icon-button (click)="go('https://www.instagram.com')">
                <mat-icon svgIcon="instagram"></mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <h1>
        documentation
    </h1>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-grid-list [cols]="cols" rowHeight="1:1" gutterSize="5px">
    <mat-grid-tile *ngFor="let project of projects | orderBy : 'description'" matRipple [routerLink]="project.description">
        <img [src]="project.icon" draggable="false">
        
        <mat-grid-tile-footer>
            {{ project.description }}
        </mat-grid-tile-footer>
    </mat-grid-tile>
</mat-grid-list>